* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #316e75;
}

.main {
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vh;
}

.box {
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 8vh;
    background-color: #A69DFF;
    font-weight: bolder;
    color: rgb(242, 235, 235);
}

.reset {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: #0b090a;
}

.newGame {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: #0b090a;
}

.winner {

    color: #ffffc7;
    font-size: 2rem;


}

.msg {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
































.glow {

    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ca770b, 0 0 40px #ca770b, 0 0 50px #ca770b, 0 0 60px #ca770b, 0 0 70px #ca770b;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ca770b, 0 0 40px #ca770b, 0 0 50px #ca770b, 0 0 60px #ca770b, 0 0 70px #ca770b, 0 0 80px #ca770b;
    }
}

.glow2 {

    color: #fff;
    text-align: center;
    -webkit-animation: glow2 1s ease-in-out infinite alternate;
    -moz-animation: glow2 1s ease-in-out infinite alternate;
    animation: glow2 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #e43d90, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}



