
* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    overflow-x: hidden;
}

body {
    
    background-color: #316e75;
    
}

/* Main container */
.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

/* Game heading */
.heading {
    margin-top: 2rem; /* Adjust top margin as needed */
}

/* Container for game */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 100vw;
    text-align: center;
}

/* Game board */
.game {
    display: grid;
    grid-template-columns: repeat(3, 120px); /* Adjust width for responsiveness */
    grid-template-rows: repeat(3, 120px); /* Adjust width for responsiveness */
    gap: 1px; /* Adjust spacing between boxes */
    background-color:cadetblue;
    
}

/* Individual game box */
.box {
    border: 2px solid cadetblue;
    width: 120px;
    height: 120px;
    font-weight: bold;
    color: #154360;
    font-size: 3rem;
    cursor: pointer;
    background-color: rgb(2, 64, 135);
}

/* Reset button */
.reset {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    height: 50px;
    width: 200px;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: #0b090a;
    cursor: pointer;

}

/* New game button */
.newGame {
    height: 50px;
    width: 200px;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: #0b090a;
    cursor: pointer;
}

/* Winner message */
.winner {
    color: #ffffc7;
    font-size: 2rem;
}

/* Hidden message */
.msg {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Hide class */
.hide {
    display: none;
}

/* Glow animation */
.glow {
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ca770b, 0 0 40px #ca770b, 0 0 50px #ca770b, 0 0 60px #ca770b, 0 0 70px #ca770b;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ca770b, 0 0 40px #ca770b, 0 0 50px #ca770b, 0 0 60px #ca770b, 0 0 70px #ca770b, 0 0 80px #ca770b;
    }
}

.glow2 {
    color: #fff;
    text-align: center;
    animation: glow2 1s ease-in-out infinite alternate;
}

@keyframes glow2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #e43d90, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
